{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<br/>

<form action="" method="POST">
    {% csrf_token %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_adminONG.css' %}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    
    <input type="submit" value="Entrar" class="btn btn-secondary">
    <a href="/users/register_adminONG" class="btn btn-primary">Cadastre-se aqui</a>
</form>

<br/><br/>
{% endblock %}
