{% extends 'base.html' %}
{% load static %}
{% block title %}Register AdminONG{% endblock %}
{% block content %}
{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Foi encontrado um erro no formulário. Por favor, verifique se os campos foram preenchidos corretamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<br/>

<form action="/users/register_adminONG/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/><br/>
    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

<br/><br/>
{% endblock %}
