<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="atividades.css">
    <title>Cadastrar Gotinha</title>
</head>
<body>
    <header>
      <img src="artesanatoImagem.png" alt="artesanato" class="artesanato">
      <img src="Capoeira.png" alt="Capoeira" class="Capoeira">
      <img src="Futebol.png" alt="Futebol" class="Futebol">
      <img src="Caligrafia.png" alt="Caligrafia" class="Caligrafia">
      <img src="Vôlei.png" alt="Vôlei" class="Vôlei">
      <img src="Origami.png" alt="Origami" class="Origami">
      <img src="Adicionaratividade.png" alt="Adicionaratividade" class="Adicionaratividade">
        <h1>CADASTRAR GOTINHA</h1>
        <h1>GOTINHAS CADASTRADOS</h1>
        <h1>ATIVIDADES</h1>
        <h1>|---> Sair</h1>
    </header>
    <main>
        <section>
            <h2>Atividades</h2>
            <h3>Adicionar nova atividade</h3>
            <p>Para registrar frequência, clique em uma atividade:</p>
            <ul class="activities">
                <li class="item">Artesanato</li>
                <li class="item">Caligrafia</li>
                <li class="item">Capoeira</li>
                <li class="item">Vôlei</li>
                <li class="item">Futebol</li>
                <li class="item">Origami</li>
            </ul>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
