{% extends 'base.html' %}
{% load static %}
{% block title %}Registro de AdminOng{% endblock %}
{% block content %}
    <h1>Registro de AdminOng</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nome de usuário:</label>
        <input type="text" name="username" required><br>

        <!-- Adicione outros campos específicos para o AdminOng, se necessário -->

        <label for="password">Senha:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Registrar">
    </form>
{% endblock %}
