{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/adminong_login.css' %}" />
  </head>
  <body>
    <div class="menu">
      <header class="login-header">
        <h2>Login do AdminOng</h2>
      </header>
      <main class="main">
        <form method="post">
          {% csrf_token %}
          <div class="login-container">
          <div class="input-modify">
            <input type="text" name="username" placeholder="Usuário" required />
          </div>
          <br />
          <div class="input-modify">
          <input type="password" name="password" placeholder="Senha" required />
          </div>  
          <br />
          <button type="submit">Login</button>
          </div>
        </form>
        <p>
          Não tem uma conta? <a href="{% url 'adminong_registration' %}">Registre-se como AdminOng</a>
        </p>
      </main>
    </div>
  </body>
{% endblock %}
