{% extends 'base.html' %}
{% load static %}
{% block title %}Atividades{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/atividades.css'%}">
</head>
<body> 
    <div class="menu">
        <div class="painel-geral">
            <h2>Painel geral</h2>
        </div>
        <ul class="link-container">
            <button class="option" ><a class="btn btn-primary painel-link" href='/gotinhas/cadastroGotinhas/'>Cadastrar Gotinhas</a></button>
            <button class="option" ><a class="btn btn-primary painel-link" href='/gotinhas/listarGotinhas'>Gotinhas Cadastrados</a></button>
            <button class="option" ><a class="btn btn-primary painel-link" href='#'>Atividades</a></button>
        </ul>
        <!-- Ver links -->
    </div>
</body>
{% endblock %}
