body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}




main {
  margin: 50px 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: ⁠ccc;
  font-weight: bold;
}

th,
td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #eee;
}

a.adicionar-gotinha {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
