{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Gotinhas{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Crianças</title>
    <link rel="stylesheet" href="{% static 'css/planilha.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Atividades</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lista de Crianças Cadastradas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número Gotinha</th>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody>
                {% for gotinha in gotinhas %}
                    <tr>
                        <td>{{ gotinha.number }}</td> <!-- Adiciona o número do Gotinha -->
                        <td>{{ gotinha.first_name }} {{ gotinha.last_name }}</td>
                        <td>{{ gotinha.birthdate }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="pagination">
            <span class="step-links">
                {% if gotinhas.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ gotinhas.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current-page">
                    Página {{ gotinhas.number }} de {{ gotinhas.paginator.num_pages }}.
                </span>
                
                {% if gotinhas.has_next %}
                    <a href="?page={{ gotinhas.next_page_number }}">next</a>
                    <a href="?page={{ gotinhas.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <!-- Adicione o botão "Adicionar Gotinha" -->
        <a href="/gotinhas/cadastroGotinhas/" class="btn btn-primary">Adicionar Gotinha</a>

    </main>
    <script src="{% static 'js/planilha.js' %}"></script>
</body>
</html>
{% endblock %}
