{% extends 'base.html' %}
{% load static %}
{% block title %}Selecionar Gotinha{% endblock %}
{% block content %}
    <h1>Selecionar Gotinha</h1>
    <form method="post">
        {% csrf_token %}
        <label for="gotinha">Escolha um Gotinha:</label>
        <select name="gotinha" id="gotinha" style="width: 200px;"> <!-- Ajuste o tamanho conforme necessário -->
            <option value="">Selecione um Gotinha</option> <!-- Adicione uma opção padrão -->
            {% for gotinha in gotinhas %}
                <option value="{{ gotinha.id }}">{{ gotinha.first_name }} {{ gotinha.last_name }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Selecionar Gotinha">
    </form>
    {% if gotinha %}
        <a href="{% url 'adicionar_anotacoes' gotinha.id %}">Adicionar Anotações</a>
    {% endif %}
{% endblock %}
